<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html' %}
    <title>BUILD BY BODY</title>
</head>
<body>
{% include '_body.html' %}
<header class="page-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Build By Body</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!---------------------->
                    <!-- Items start here -->
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Movements
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Calisthenics</a></li>
                            <li><a class="dropdown-item" href="#">Yoga</a></li>
                            <li><a class="dropdown-item" href="#">Miscellaneous</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="keyword" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<br>
{% for post in latest_post_list %}
<article class="post">
  <div class="row align-items-start">
      <div class="col">
        <h3><a href="">{{ post.title }}</a></h3>
      </div>
      <time>Published on {{ post.pub_date }}</time>
      <p style="width:50%; text-overflow: ellipses;">{{ post.body | linebreaksbr }}</p>
  </div>
  <div class="row align-items-end">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</article>
{% endfor %}
</body>
</html>